<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
<div class="container">
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div  >
                <form class="form-inline">
                    <div class="form-group">
                        <label >Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
                <table border="1" cellspacing="15">
                   <thead> <tr>
                        <th ng-click="sort('_id')">Id</th>
                        <th ng-click="sort('name')"> Name</th>
                        <th ng-click="sort('marks')"> Marks</th>
                        <th>Delete</th>
                        <th>Edit</th>
                   </tr></thead>

                    <tr ng-repeat="todo in todos |filter:search | orderBy:sortKey:reverse" >
                        <td>{{ todo._id }}</td>
                        <td>{{ todo.name }}</td>
                        <td>{{ todo.marks }}</td>
                        <td>
                            <button ng-click="deleteTodo(todo._id)" name="delete">Delete</button>
                        </td>
                        <td>
                            <button ng-click="editTodo(todo._id)" name="edit">Edit</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div>
        <form enctype="multipart/form-data" method="post">
            <p>Student name:
            <input type="text" placeholder="Student name" ng-model="formData.name" name="name"></p>
            <p>Student marks:
                <input type="text" placeholder="Student marks" ng-model="formData.marks" name="marks"></p>

            <button type="submit" ng-click="createTodo()">Add</button>
            <button type="submit" ng-click="updateTodo()">Update</button>
        </form>
    </div>
</div>
</body>
</html>