<div ng-controller="mainController">
<div class="col-lg-12" ng-controller="mainController">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Bordered Table
        </div>
        <div class="card-block">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>

        <div class="card-block">
            <table class="table table-condensed" border="1" cellspacing="15">
                <thead>
                <tr>
                    <!--<th ng-click="sort('_id')">Id</th>-->
                    <th ng-click="sort('name')"> Name</th>
                    <th ng-click="sort('email')"> email</th>
                    <th>state</th>
                    <th>city</th>
                    <th>gender</th>
                    <th>date</th>
                    <th>Is_active</th>
                    <th>Image</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tr ng-repeat="todo in todos|orderBy:sortKey:reverse|filter:search">
                    <!--<td>{{ todo._id }}</td>-->
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.email }}</td>
                    <td>{{ todo.state }}</td>
                    <td>{{ todo.city }}</td>
                    <td>{{ todo.gender }}</td>
                    <td>{{ todo.date }}</td>
                    <td>{{ todo.active }}</td>
                    <td>{{ todo.pimg }}</td>
                    <td>
                        <button ng-click="deleteTodo(todo._id)" name="delete">Delete</button>
                    </td>
                    <td>
                        <button ng-click="editTodo(todo._id)" name="edit">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>

<div>
    <div class="input-group mb-1">
                            <span class="input-group-addon">
                            </span>
        <input type="text" class="form-control" placeholder="Student name" ng-model="formData.name" name="name">
    </div>

    <div class="input-group mb-1">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="Student email" ng-model="formData.email" name="email">
    </div>

    <div class="input-group mb-1">
        <select class="form-control" ng-model="formData.state"
                ng-options="item.id as item.sname for item in todostate">
        </select>
    </div>
    <div class="input-group mb-1">
        <select ng-model="formData.city" class="form-control"
                ng-options="city as city.cname for city in citys"
                ng-value="formData.city.cname">
            <option value="">--City--</option>
        </select>

    </div>
    <div class="input-group mb-2">

        <input type="file" name="img" class="form-control" ng-model='formData.pimg' name="pimg"></p>
    </div>

    <div class="input-group mb-1">
        <input class="form-control" type="date" placeholder="Choose a date" ng-model='formData.date'/>
        <p>{{todostate}}</p>
        <p>{{v}}</p>
        <input type="checkbox" ng-model="formData.active" class="">
    </div>
    <div class="input-group mb-1">
        <input type="radio" class="" name="gender" value="male" ng-model='formData.gender' checked> Male
        <input type="radio" class="" name="gender" value="female" ng-model='formData.gender'> Female
    </div>
    <button type="submit" class="btn btn-primary active mt-1" ng-click="createTodo()">Add</button>
    <button type="submit" class="btn btn-primary active mt-1" ng-click="updateTodo()">Update</button>
</div>

</div>
